html,
body,
ol,
ul {
  margin: 0;
  padding: 0; }

#toggle-show {
  font-weight: 500;
  color: white;
  background: rgba(89, 72, 255, 0.85); }

::-webkit-scrollbar-track {
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(89, 72, 255, 0.85); }

.table td {
  vertical-align: middle !important; }

.btn-proses {
  background: #F44336;
  color: white; }
  .btn-proses:hover {
    background: #E53935; }

h1, h2, h3, h4, h5 {
  color: #333; }

.decoration-none a {
  text-decoration: none !important; }

.bg-none {
  background: none; }

.animate-menu, .outside-menu, .side-menu {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out; }

.outside-menu {
  margin-left: 220px; }

.animate-outside-menu {
  margin-left: 0 !important; }

body {
  background-color: rgba(237, 226, 44, 0.9); }

.dim-background {
  top: 0;
  z-index: 5 !important;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }

.fixed, .dim-background, .side-menu {
  position: fixed; }

.over-hide, .dim-background {
  overflow: hidden; }

.over-auto, .side-menu {
  overflow: auto; }

.animate-side-menu {
  margin-left: -220px; }

.side-menu {
  left: 0;
  top: 0;
  z-index: 6 !important;
  width: 100%;
  height: 100%;
  max-width: 220px;
  background-color: #384784 !important; }
  .side-menu .menu-icon {
    margin-right: 0.5em;
    height: 26px;
    width: 26px;
    vertical-align: bottom; }
  .side-menu .menu-icon-collapse {
    position: absolute;
    margin-right: 0;
    right: 1em;
    height: 12px;
    width: 12px;
    vertical-align: top;
    margin-top: 7px; }

.scrolltop {
  border-radius: 5px;
  display: block;
  position: fixed;
  right: 1em;
  bottom: 1em;
  width: 3em;
  height: 3em;
  background: rgba(83, 102, 182, 0.9);
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.7); }
  .scrolltop:hover, .scrolltop:focus, .scrolltop:active {
    text-decoration: none;
    color: white; }

.navku {
  background-color: white;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  position: fixed; }

.height-nav {
  height: 68px; }

.nav-conetnt {
  position: absolute;
  right: 0;
  width: calc(100% - 220px); }

.lighten-color1 {
  color: #5366b6; }

.quick-btn {
  position: relative; }
  .quick-btn i {
    color: #acb6dc; }
    .quick-btn i:hover, .quick-btn i:focus, .quick-btn i:active {
      color: rgba(89, 72, 255, 0.75); }

.quick-icon {
  background-color: #EF5350;
  font-size: 0.75em;
  color: white;
  padding: 0.25em;
  width: 2em;
  height: 2em;
  position: absolute;
  top: -45%;
  right: -25%; }

.user-icon {
  height: 40px;
  width: 40px; }

.shadow-nav {
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4); }

.shadow-ul {
  -webkit-box-shadow: inset -1px 2px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset -1px 2px 8px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset -1px 2px 8px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset -1px 2px 8px rgba(0, 0, 0, 0.2); }

.page-view-text {
  font-size: 1.8em;
  margin: 0;
  font-weight: 400; }

.square {
  position: relative;
  width: 40%; }
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .square .content {
    position: absolute;
    width: 100%;
    height: 100%; }

.square-text {
  position: relative;
  width: 50%; }
  .square-text .content {
    position: absolute;
    width: 100%;
    height: 100%; }

.sub-item-content {
  text-transform: capitalize;
  text-decoration: none;
  height: 120px;
  padding: 0.2em 0.5em;
  width: 100%;
  background-color: rgba(89, 72, 255, 0.85);
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1); }
  .sub-item-content:hover, .sub-item-content:focus {
    text-decoration: none; }
  .sub-item-content i {
    padding: 0.6rem;
    font-size: 5.5rem;
    color: rgba(255, 255, 255, 0.95); }

.item-content {
  border-top: 3px solid rgba(89, 72, 255, 0.85);
  width: 100%;
  background: white;
  -webkit-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2); }

.item-title {
  height: 54px;
  border-bottom: 1px solid #f5f5f5; }

.item-judul {
  padding: 1.2em 0.8em; }
  .item-judul h5 {
    color: #292b2c;
    margin: 0;
    font-size: 1em; }

.item-btn {
  margin-right: 0.4em; }
  .item-btn .item-icon > a {
    width: 40px;
    height: 54px; }
    .item-btn .item-icon > a i {
      width: 22px;
      height: 22px;
      vertical-align: middle;
      color: rgba(89, 72, 255, 0.85); }

.dropdown-menu {
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 !important;
  font-size: 0.9em;
  color: #333; }
  .dropdown-menu .dropdown-item {
    text-transform: capitalize;
    font-size: 0.9em;
    padding: 0.8em 1em !important; }
    .dropdown-menu .dropdown-item i {
      text-align: center;
      color: rgba(0, 0, 0, 0.4);
      width: 1.2em;
      margin-right: 0.5em; }

.menu-list {
  padding-bottom: 3em; }
  .menu-list > ul > li {
    text-transform: capitalize; }
    .menu-list > ul > li:hover, .menu-list > ul > li:focus, .menu-list > ul > li:active {
      background-color: #2f3b6f; }
    .menu-list > ul > li.active {
      background-color: #2f3b6f; }
    .menu-list > ul > li a {
      padding: 1em 1.2em;
      display: block;
      text-decoration: none;
      font-size: 0.9em;
      color: white;
      fill: #f5f5f5; }
      .menu-list > ul > li a i {
        margin-right: 6px;
        font-size: 0.9em !important; }
      .menu-list > ul > li a .menu-down {
        padding: 0.7em 0;
        float: right;
        font-size: 0.6em;
        text-align: right;
        margin-right: 4px; }
    .menu-list > ul > li ul {
      padding: 0.6em 0;
      background-color: #293460; }
      .menu-list > ul > li ul li a {
        padding: 0.9em 2.4em; }
        .menu-list > ul > li ul li a i {
          vertical-align: middle;
          font-size: 0.35em !important;
          opacity: 0.2; }
      .menu-list > ul > li ul li a:hover {
        text-decoration: underline; }

.badge-notif {
  color: #fafafa;
  margin-left: 5px;
  text-transform: capitalize;
  font-size: 0.7em;
  padding: 0.3em 0.5em;
  background-color: #009688;
  font-weight: 700; }

.badge-notif2 {
  float: right;
  margin-top: 3px;
  margin-left: 5px;
  text-align: center;
  color: #f5f5f5;
  text-transform: capitalize;
  font-size: 0.7rem;
  font-weight: 600; }

.bg-red500 {
  background-color: #F44336; }

.bg-green500 {
  background-color: #4CAF50; }

footer {
  -webkit-box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, 0.1);
  border-top: 2px solid #f5f5f5;
  font-weight: 700;
  color: rgba(89, 72, 255, 0.75);
  background: white;
  font-size: 0.9em; }
